body {
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    width: 95%;
    margin: 0 auto;
    background: #f2f2f2;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: rgb(38, 12, 12);
    text-align: center;
}

p {
    line-height: 1.4;
    font-family: 'Grandstander', serif;
    font-size: 16;
}

li {
    padding: 0.5 em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

figcaption {
    text-align: center;
    padding-bottom: 10px;
}

img {
    padding-bottom: 15px;
    padding-top: 15px;
}

div {
    margin: 50px;
}